@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            }

            .button1 {
            background-color: white; 
            color: black; 
            border: 2px solid #4CAF50;
            }

            .button1:hover {
            background-color: #4CAF50;
            color: white;
            }

            .button2 {
            background-color: white; 
            color: black; 
            border: 2px solid #a7ba00;
            }

            .button2:hover {
            background-color: #a7ba00;
            color: white;
            }
            .button3 {
            background-color: white; 
            color: black; 
            border: 2px solid #ba5400;
            }

            .button3:hover {
            background-color: #ba5400;
            color: white;
            }

            .button4 {
            background-color: white; 
            color: black; 
            border: 2px solid #f5488a;
            }

            .button4:hover {
            background-color: #f5488a;
            color: white;
            }
            .button5 {
            background-color: white; 
            color: black; 
            border: 2px solid #6248f5;
            }

            .button5:hover {
            background-color: #6248f5;
            color: white;
            }                                        
        </style>
    </head>
    
    <body>
        <span class="align-middle">
            <br>
            <br>
            <br>
            <br>
            <button class="button button1"  onclick="location.href='@Url.Action("WeatherSearch", "Home")'">Weather</button>
            <button class="button button2" onclick="location.href='@Url.Action("CASSearch", "Home")'">TSCA Inventory</button>
            <button class="button button3" onclick="location.href='@Url.Action("Thermal_Expansion", "Home")'">Thermal Expansion</button>
            <button class="button button4" onclick="location.href='@Url.Action("Acid_Neutralization", "Home")'">Acid Neutralization</button>
            <button class="button button5" onclick="location.href='@Url.Action("Base_Neutralization", "Home")'">Base Neutralization</button>
        </span>
    </body>
</html>

